/* Code tidied up by ScrapBook */
@media (min-width: 782px) {
}
@media (max-width: 599px) {
}
@media (min-width: 600px) {
}
@media (min-width: 782px) {
}
@supports (-webkit-overflow-scrolling:touch) {
  .wp-block-cover-image.has-parallax, .wp-block-cover.has-parallax { background-attachment: scroll; }
}
@media not all {
}
@supports ((position:-webkit-sticky) or (position:sticky)) {
  .wp-block-cover-image::after, .wp-block-cover::after { content: none; }
}
@supports ((position:-webkit-sticky) or (position:sticky)) {
  .blocks-gallery-grid .blocks-gallery-image figure, .blocks-gallery-grid .blocks-gallery-item figure, .wp-block-gallery .blocks-gallery-image figure, .wp-block-gallery .blocks-gallery-item figure { display: flex; align-items: flex-end; justify-content: flex-start; }
}
@supports ((position:-webkit-sticky) or (position:sticky)) {
  .blocks-gallery-grid .blocks-gallery-image img, .blocks-gallery-grid .blocks-gallery-item img, .wp-block-gallery .blocks-gallery-image img, .wp-block-gallery .blocks-gallery-item img { width: auto; }
}
@supports ((position:-webkit-sticky) or (position:sticky)) {
  .blocks-gallery-grid.is-cropped .blocks-gallery-image a, .blocks-gallery-grid.is-cropped .blocks-gallery-image img, .blocks-gallery-grid.is-cropped .blocks-gallery-item a, .blocks-gallery-grid.is-cropped .blocks-gallery-item img, .wp-block-gallery.is-cropped .blocks-gallery-image a, .wp-block-gallery.is-cropped .blocks-gallery-image img, .wp-block-gallery.is-cropped .blocks-gallery-item a, .wp-block-gallery.is-cropped .blocks-gallery-item img { height: 100%; flex: 1 1 0%; object-fit: cover; }
}
@media (min-width: 600px) {
  @supports (-ms-ime-align:auto) {
  .blocks-gallery-grid.columns-3 .blocks-gallery-image, .blocks-gallery-grid.columns-3 .blocks-gallery-item, .wp-block-gallery.columns-3 .blocks-gallery-image, .wp-block-gallery.columns-3 .blocks-gallery-item { width: calc((100% - 32px) / 3 - 1px); }
}
  @supports (-ms-ime-align:auto) {
  .blocks-gallery-grid.columns-4 .blocks-gallery-image, .blocks-gallery-grid.columns-4 .blocks-gallery-item, .wp-block-gallery.columns-4 .blocks-gallery-image, .wp-block-gallery.columns-4 .blocks-gallery-item { width: calc((100% - 48px) / 4 - 1px); }
}
  @supports (-ms-ime-align:auto) {
  .blocks-gallery-grid.columns-5 .blocks-gallery-image, .blocks-gallery-grid.columns-5 .blocks-gallery-item, .wp-block-gallery.columns-5 .blocks-gallery-image, .wp-block-gallery.columns-5 .blocks-gallery-item { width: calc((100% - 64px) / 5 - 1px); }
}
  @supports (-ms-ime-align:auto) {
  .blocks-gallery-grid.columns-6 .blocks-gallery-image, .blocks-gallery-grid.columns-6 .blocks-gallery-item, .wp-block-gallery.columns-6 .blocks-gallery-image, .wp-block-gallery.columns-6 .blocks-gallery-item { width: calc((100% - 80px) / 6 - 1px); }
}
  @supports (-ms-ime-align:auto) {
  .blocks-gallery-grid.columns-7 .blocks-gallery-image, .blocks-gallery-grid.columns-7 .blocks-gallery-item, .wp-block-gallery.columns-7 .blocks-gallery-image, .wp-block-gallery.columns-7 .blocks-gallery-item { width: calc((100% - 96px) / 7 - 1px); }
}
  @supports (-ms-ime-align:auto) {
  .blocks-gallery-grid.columns-8 .blocks-gallery-image, .blocks-gallery-grid.columns-8 .blocks-gallery-item, .wp-block-gallery.columns-8 .blocks-gallery-image, .wp-block-gallery.columns-8 .blocks-gallery-item { width: calc((100% - 112px) / 8 - 1px); }
}
}
@supports ((-webkit-mask-image:none) or (mask-image:none)) or (-webkit-mask-image:none) {
  .is-style-circle-mask img { mask-image: url("data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"/></svg>"); mask-mode: alpha; mask-repeat: no-repeat; mask-size: contain; mask-position: center center; }
}
@media (min-width: 600px) {
}
@media (max-width: 600px) {
}
@media (min-width: 600px) {
}
@supports ((position:-webkit-sticky) or (position:sticky)) {
  .wp-block-video [poster] { object-fit: cover; }
}
@supports ((position:-webkit-sticky) or (position:sticky)) {
  .wc-block-featured-product::after { content: none; }
}
div.wpcf7 { margin: 0px; padding: 0px; }
div.wpcf7 .screen-reader-response { position: absolute; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); height: 1px; width: 1px; margin: 0px; padding: 0px; border: 0px none; }
div.wpcf7-response-output { margin: 2em 0.5em 1em; padding: 0.2em 1em; border: 2px solid rgb(255, 0, 0); }
.wpcf7-form-control-wrap { position: relative; }
.wpcf7-display-none { display: none; }
div.wpcf7 .ajax-loader { visibility: hidden; display: inline-block; background-image: url("ajax-loader.gif"); width: 16px; height: 16px; border: medium none; padding: 0px; margin: 0px 0px 0px 4px; vertical-align: middle; }
div.wpcf7 .wpcf7-submit:disabled { cursor: not-allowed; }
