/* Code tidied up by ScrapBook */
.wrap { width: 100%; max-width: 1200px; margin-left: auto; margin-right: auto; }
@media (min-width: 576px) {
}
@media (min-width: 576px) {
}
@media (min-width: 576px) {
}
.form-control { border-color: rgb(102, 102, 102); border-radius: 0px; }
.form-control:focus { border-color: rgb(109, 187, 75); box-shadow: none; }
textarea { resize: none; }
.button { display: inline-block; padding: 9px 18px; background-color: rgb(109, 187, 75); border: medium none; border-radius: 3px; text-decoration: none; text-transform: uppercase; line-height: 1.2; font-size: 12px; color: rgb(255, 255, 255); box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); cursor: pointer; transition: all 0.15s ease 0s; }
@media (min-width: 576px) {
  .button { padding: 13px 25px; font-size: 13px; }
}
.button:hover { background-color: rgb(153, 153, 153); text-decoration: none; color: rgb(255, 255, 255); }
.modal .modal-content { border-radius: 0px; }
.modal .modal-header { padding: 0.75rem; }
.modal .modal-title { text-transform: uppercase; font-size: 16px; font-weight: bold; }
.modal .modal-body { padding: 1.5rem 2.5rem 1rem; }
@media (max-width: 576px) {
  .modal .modal-body { padding: 1.5rem 1rem 1rem; }
}
@media (max-width: 768px) {
}
.section { padding: 30px 0px; }
@media (min-width: 768px) {
  .section { padding: 50px 0px; }
}
.section.section_gray { background-color: rgb(247, 247, 247); }
.section__header { margin-bottom: 25px; text-align: center; text-transform: uppercase; letter-spacing: 1px; font-size: 22px; font-weight: bold; }
@media (min-width: 576px) {
  .section__header { margin-bottom: 30px; font-size: 28px; }
}
@media (min-width: 768px) {
  .section__header { font-size: 36px; }
}
.up { display: none; position: fixed; bottom: 20px; right: 20px; width: 35px; line-height: 35px; border-radius: 2px; background-color: rgb(39, 39, 39); text-align: center; color: rgb(255, 255, 255); cursor: pointer; opacity: 0.85; transition: opacity 0.3s ease 0s; }
.up:hover { opacity: 1; }
:focus { outline: medium none !important; }
body { font-family: "PT Sans",sans-serif; }
iframe { max-width: 100%; }
.order-call-button, .whatsapp-button { display: inline-block; vertical-align: middle; width: 43%; height: 45px; max-width: 150px; margin: 0px; padding: 0px; border: medium none; border-radius: 5px; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); text-align: center; text-decoration: none; cursor: pointer; }
.order-call-button:hover, .order-call-button:focus, .whatsapp-button:hover, .whatsapp-button:focus { border: medium none; outline: medium none; text-decoration: none; opacity: 1; }
.order-call-button.fixed, .whatsapp-button.fixed { position: fixed; bottom: 15px; z-index: 100; }
.order-call-button span, .whatsapp-button span { display: block; font-size: 12px; font-weight: bold; text-transform: uppercase; color: rgb(255, 255, 255); }
.order-call-button { background: rgb(0, 170, 255) url("phone-call.svg") no-repeat scroll 15px center / 20px auto; }
.order-call-button.fixed { left: 15px; }
@media (min-width: 576px) {
  .order-call-button.fixed { bottom: 70px; }
}
.order-call-button span { line-height: 46px; padding-left: 10px; }
.whatsapp-button { background: rgb(79, 206, 93) url("whatsapp-logo.svg") no-repeat scroll 15px center / 20px auto; }
.whatsapp-button.fixed { right: 15px; }
@media (min-width: 576px) {
  .whatsapp-button.fixed { right: auto; left: 15px; }
}
.whatsapp-button span { line-height: 1.25; padding-top: 8px; padding-left: 7px; }
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 576px) {
}
.active-link, .header .header__block.navigation .navbar-nav > .nav-item.active, .header .header__block.navigation .navbar-nav > .nav-item:hover { background-color: rgb(109, 187, 75); }
.active-link > a, .header .header__block.navigation .navbar-nav > .nav-item.active > a, .header .header__block.navigation .navbar-nav > .nav-item:hover > a { color: rgb(255, 255, 255); }
.header { position: sticky; top: 0px; left: 0px; border-bottom: 1px solid rgba(205, 205, 205, 0.35); text-transform: uppercase; z-index: 200; }
@media (min-width: 992px) {
  .header { position: static; border-bottom: medium none; }
}
.header .header__block { background-color: rgb(255, 255, 255); }
.header .header__block.navigation { background-color: rgb(39, 39, 39); }
.header .header__block.navigation .navbar { height: 60px; padding: 0px; }
@media (max-width: 992px) {
  .header .header__block.navigation .navbar { height: auto; }
}
@media (min-width: 992px) {
  .header .header__block.navigation .navbar { padding: 0.5rem 1rem; }
}
.header .header__block.navigation .navbar-nav { padding-top: 20px; padding-bottom: 20px; }
@media (min-width: 992px) {
  .header .header__block.navigation .navbar-nav { margin-left: -18px; padding: 0px; }
}
.header .header__block.navigation .navbar-nav > .nav-item > .nav-link { color: rgb(255, 255, 255); }
.header .header__block.navigation .nav-item { position: relative; margin-right: 7px; transition: all 0.15s ease 0s; }
.header .header__block.navigation .nav-item:first-child { margin-top: 0px; }
.header .header__block.navigation .nav-item:last-child { margin-right: 0px; }
@media (max-width: 768px) {
  .header .header__block.navigation .nav-item { margin-left: 0px; margin-top: 5px; text-align: left; }
}
@media (min-width: 992px) {
  .header .header__block.navigation .nav-item.menu-item-has-children:hover > .sub-menu { top: calc(100% - 1px); visibility: visible; opacity: 1; }
}
@media (min-width: 992px) {
  .header .header__block.navigation .nav-item.menu-item-has-children > .nav-link::after { content: ""; display: inline-block; vertical-align: middle; width: 6px; height: 6px; margin-left: 10px; margin-top: -5px; border-width: medium medium 1px 1px; border-style: none none solid solid; border-color: currentcolor currentcolor rgb(255, 255, 255) rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; transform: rotate(-45deg); transition: all 0.15s ease-in-out 0s; }
}
.header .header__block.navigation .nav-item .sub-menu { width: 100%; padding: 15px 0px; background-color: rgb(255, 255, 255); list-style: outside none none; text-align: left; box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15); transition: all 0.3s ease-in-out 0s; }
@media (min-width: 992px) {
  .header .header__block.navigation .nav-item .sub-menu { position: absolute; top: 100px; width: 300px; z-index: 10; opacity: 0; visibility: hidden; }
}
.header .header__block.navigation .nav-item .sub-menu > .nav-item { margin-left: 0px; }
.header .header__block.navigation .nav-item .sub-menu > .nav-item:hover { background-color: transparent; }
.header .header__block.navigation .nav-item .sub-menu > .nav-item > .nav-link { padding: 7px 18px; line-height: 1.25; color: rgb(104, 104, 104); cursor: pointer; }
.header .header__block.navigation .nav-item .sub-menu > .nav-item > .nav-link:hover { color: rgb(109, 187, 75); }
.header .header__block.navigation .nav-link { padding: 15px 18px 12px; font-size: 13px; color: rgb(104, 104, 104); transition: all 0.15s ease 0s; }
@media (min-width: 992px) and (max-width: 1200px) {
  .header .header__block.navigation .nav-link { padding: 10px 8px 7px; }
}
.header__call-btn { padding: 15px 20px 15px 40px; background-size: 18px auto; background-image: url("telephone.svg"); background-repeat: no-repeat; background-position: 12px center; font-size: 13px; }
.header__logo { max-width: 135px; height: auto; }
@media (min-width: 768px) {
  .header__logo { max-width: 175px; }
}
@media (min-width: 992px) {
  .header__logo { max-width: none; }
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
.header__mobile-wrap { display: flex; -moz-box-pack: justify; justify-content: space-between; }
@media (min-width: 992px) {
  .header__mobile-wrap { display: block; }
}
@media (max-width: 992px) {
}
.header__mobile-search, .header__mobile-nav { padding: 0px; background-color: transparent; border: medium none; line-height: 1; transition: all 0.15s ease 0s; }
.header__mobile-search:focus, .header__mobile-search:active, .header__mobile-nav:focus, .header__mobile-nav:active { color: inherit; }
.header__mobile-nav { font-size: 22px; }
.header__mobile-search { font-size: 20px; }
.header__search-wrap { position: fixed; top: 0px; left: 0px; width: 100%; padding-bottom: 10px; background-color: rgb(255, 255, 255); visibility: hidden; opacity: 0; z-index: 100; transition: all 0.5s ease 0s; }
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .header__search-wrap { position: static; padding-bottom: 0px; background-color: transparent; visibility: visible; opacity: 1; }
}
.aws-container .aws-search-field { padding: 5px 15px; border-radius: 5px 0px 0px 5px !important; font-size: 16px; }
.aws-container .aws-search-form .aws-search-btn { width: 50px; border-radius: 0px 5px 5px 0px !important; }
.aws-search-result { font-size: 15px; }
.reasons .section__header { margin-bottom: 25px; }
@media (min-width: 768px) {
  .reasons .section__header { margin-bottom: 35px; }
}
.reasons__item { margin-bottom: 30px; }
@media (min-width: 768px) {
  .reasons__item { margin-bottom: 50px; }
}
.reasons__icon { display: inline-block; width: 145px; height: 145px; margin-bottom: 12px; border-radius: 100%; background-color: rgb(247, 247, 247); background-repeat: no-repeat; background-position: center center; }
.reasons__title { margin-bottom: 10px; }
.reasons__title span { text-transform: uppercase; font-size: 16px; font-weight: bold; }
@media (min-width: 576px) {
  .reasons__title span { font-size: 18px; }
}
@media (min-width: 768px) {
  .reasons__title span { font-size: 20px; }
}
.features { padding-bottom: 70px; }
.features .section__header { margin-bottom: 75px; }
@media (max-width: 576px) {
  .features .section__header { margin-bottom: 25px; }
}
.features__list .features__item { position: relative; margin-bottom: 30px; padding: 20px; background-color: rgb(245, 245, 245); border: 1px solid rgb(219, 219, 219); border-radius: 3px; text-transform: uppercase; line-height: 1.25; }
@media (max-width: 576px) {
  .features__list .features__item { margin-bottom: 15px; }
}
@media (min-width: 576px) {
  .features__list .features__item:last-child { margin-bottom: 0px; }
}
.features__list .features__item > span { display: block; }
.features__list .features__item > span:first-child { font-size: 16px; font-weight: bold; }
.features__list .features__item > span:last-child { margin-top: 10px; text-transform: none; font-size: 15px; }
.main-screen { position: relative; padding: 35px 0px 40px; background-position: center center; background-size: cover; background-repeat: no-repeat; border-top: 1px solid rgb(68, 68, 68); }
@media (min-width: 576px) {
  .main-screen { padding: 50px 0px 60px; }
}
@media (min-width: 768px) {
  .main-screen { padding: 75px 0px 100px; background-position: left center; }
}
.main-screen::before { content: ""; position: absolute; top: 0px; left: 0px; display: block; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.75); }
.main-screen__header { font-size: 24px; color: rgb(255, 255, 255); text-transform: uppercase; font-weight: bold; line-height: 1.5; text-align: center; }
@media (min-width: 576px) {
  .main-screen__header { font-size: 28px; }
}
@media (min-width: 768px) {
  .main-screen__header { font-size: 36px; }
}
@media (min-width: 992px) {
  .main-screen__header { font-size: 42px; }
}
.main-screen__header span { color: rgb(109, 187, 75); }
@media (max-width: 768px) {
  .main-screen__header br { display: none; }
}
.main-screen__text p { margin: 0px; text-align: center; font-size: 22px; color: rgb(255, 255, 255); }
@media (min-width: 768px) {
  .main-screen__text p { text-align: left; font-size: 32px; }
}
@media (min-width: 992px) {
  .main-screen__text p { font-size: 36px; }
}
.main-screen__text p b, .main-screen__text p strong { color: rgb(109, 187, 75); }
@media (max-width: 992px) {
}
@media (max-width: 576px) {
}
@media (max-width: 992px) {
}
.catalog__item { position: relative; display: inline-block; max-width: 250px; height: 100%; padding: 10px 10px 40px; margin-bottom: 30px; border-radius: 5px; text-align: left; cursor: pointer; transition: all 0.15s ease 0s; }
.catalog__item:hover { background-color: rgba(153, 153, 153, 0.15); }
.catalog__item:hover .catalog__title a { color: rgb(109, 187, 75); }
@media (min-width: 576px) {
  .catalog__item { padding-bottom: 70px; }
}
.catalog__image img { max-width: 100%; height: auto; }
.catalog__title { margin-top: 10px; line-height: 1.2; }
@media (min-width: 576px) {
  .catalog__title { margin-top: 25px; line-height: 22px; }
}
.catalog__title a { text-transform: uppercase; font-size: 14px; font-weight: bold; color: rgb(39, 39, 39); transition: all 0.15s ease 0s; }
@media (min-width: 576px) {
  .catalog__title a { font-size: 16px; }
}
.catalog__title a:hover { text-decoration: none; color: rgb(109, 187, 75); }
.catalog__price { position: absolute; left: 0px; bottom: 50px; width: 100%; }
@media (min-width: 576px) {
  .catalog__price { bottom: 65px; }
}
.catalog__price span { font-size: 14px; color: rgb(153, 153, 153); }
@media (min-width: 576px) {
  .catalog__price span { font-size: 20px; }
}
.catalog__buttons { position: absolute; width: 100%; left: 0px; bottom: 10px; }
@media (min-width: 576px) {
  .catalog__buttons { bottom: 15px; }
}
.catalog__buttons .button { text-transform: uppercase; }
@media (min-width: 1200px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 576px) {
}
@media (min-width: 576px) {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 576px) {
}
@media (min-width: 576px) {
}
@media (min-width: 576px) {
}
@media (min-width: 576px) {
}
.form-optional-button a { display: inline-block; border-bottom: 1px dashed rgb(109, 187, 75); text-decoration: none; color: rgb(109, 187, 75); }
.news__item { position: relative; display: inline-block; max-width: 215px; height: 100%; margin-bottom: 30px; padding: 10px 10px 30px; border-radius: 5px; text-align: left; cursor: pointer; transition: all 0.15s ease 0s; }
.news__item:hover { background-color: rgba(153, 153, 153, 0.15); }
.news__item:hover .news__title a { color: rgb(109, 187, 75); }
@media (min-width: 576px) {
  .news__item { padding-bottom: 45px; }
}
.news__date { margin-top: 15px; font-size: 13px; color: rgb(174, 174, 174); }
.news__title { margin-top: 5px; line-height: 1.25; }
.news__title a { font-size: 16px; font-weight: bold; color: rgb(39, 39, 39); transition: all 0.15s ease 0s; }
@media (min-width: 576px) {
  .news__title a { font-size: 18px; }
}
.news__title a:hover { text-decoration: none; color: rgb(109, 187, 75); }
.news__button { position: absolute; left: 0px; bottom: 15px; width: 100%; text-align: center; }
@media (min-width: 576px) {
}
@media (max-width: 576px) {
}
@media (max-width: 768px) {
}
.footer { padding: 30px 0px 50px; background-color: rgb(0, 0, 0); font-size: 18px; color: rgb(255, 255, 255); }
@media (min-width: 576px) {
  .footer { padding: 30px 0px 100px; }
}
.footer__nav ul { margin: 0px; padding: 0px; list-style: outside none none; }
.footer__nav ul a { text-decoration: none; font-size: 15px; color: rgb(255, 255, 255); transition: color 0.15s ease 0s; }
.footer__nav ul a:hover { color: rgb(109, 187, 75); }
@media (max-width: 768px) {
  .footer__scl { padding-top: 30px; }
}
.footer__scl > span { font-size: 15px; }
.footer__scl ul { margin: 10px 0px 0px; padding: 0px; list-style: outside none none; }
.footer__scl ul li { display: inline-block; margin-right: 5px; }
.footer__scl ul li:last-child { margin-right: 0px; }
.footer__scl ul li a { position: relative; display: block; width: 30px; height: 30px; background-color: rgb(207, 207, 207); border-radius: 100%; color: rgb(0, 0, 0); transition: all 0.15s ease 0s; }
.footer__scl ul li a:hover { background-color: rgb(109, 187, 75); color: rgb(255, 255, 255); }
.footer__scl ul li a i { position: absolute; }
.footer__scl ul li a i.fa-vk { top: 7px; left: 5px; font-size: 17px; }
.footer__scl ul li a i.fa-instagram { top: 6px; left: 7px; }
.footer__scl ul li a i.fa-odnoklassniki { top: 6px; left: 9px; }
.footer__dev { text-align: center; }
@media (max-width: 992px) {
  .footer__dev { padding-top: 30px; }
}
.footer__dev a { text-decoration: none; font-size: 15px; color: rgb(255, 255, 255); transition: all 0.15s ease 0s; }
.footer__dev a:hover { color: rgb(109, 187, 75); }
