/* Code tidied up by ScrapBook */
.aws-container .aws-search-form { position: relative; width: 100%; float: none !important; display: flex; align-items: stretch; height: 44px; }
.aws-container .aws-search-form * { box-sizing: border-box; hyphens: manual; border-radius: 0px !important; }
.aws-container .aws-search-form .aws-loader, .aws-container .aws-search-form .aws-loader::after { border-radius: 50% !important; width: 20px; height: 20px; }
.aws-container .aws-search-form .aws-wrapper { flex-grow: 1; position: relative; vertical-align: top; padding: 0px; width: 100%; }
.aws-container .aws-search-form .aws-loader { position: absolute; display: none; right: 10px; top: 50%; z-index: 999; margin: -10px 0px 0px; font-size: 10px; text-indent: -9999em; border-width: 3px; border-style: solid; border-color: rgb(237, 237, 237) rgb(237, 237, 237) rgb(237, 237, 237) rgb(85, 85, 85); }
@keyframes load8 {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@keyframes load8 {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.aws-container .aws-search-field { width: 100%; max-width: 100%; color: rgb(49, 49, 49); padding: 6px; line-height: 30px; display: block; font-size: 12px; position: relative; z-index: 2; height: 100%; margin: 0px !important; border: 1px solid rgb(216, 216, 216); outline: 0px none; }
.aws-container .aws-search-field:focus { background-color: rgb(255, 255, 255); }
.aws-container .aws-show-clear .aws-search-field { padding-right: 40px; }
.aws-container .aws-search-field:focus:-moz-placeholder { color: transparent; }
.aws-container .aws-search-field:focus::-moz-placeholder { color: transparent; }
.aws-container .aws-search-form .aws-search-clear { display: none !important; position: absolute; top: 0px; right: 0px; z-index: 2; cursor: pointer; color: rgb(117, 117, 117); height: 100%; width: 38px; padding-left: 10px; text-align: left; }
.aws-container .aws-search-form .aws-search-clear span { position: relative; display: block; font-size: 24px; line-height: 24px; top: 50%; margin-top: -12px; }
.aws-container .aws-search-form .aws-search-btn { padding: 0px; line-height: 10px; width: 42px; }
.aws-container .aws-search-form .aws-search-btn_icon { display: inline-block; fill: currentcolor; height: 24px; line-height: 24px; position: relative; width: 42px; color: rgb(85, 85, 85); }
.aws-container .aws-search-form .aws-search-btn svg { display: block; height: 100%; width: 100%; }
.aws-container .aws-search-form .aws-form-btn { display: flex; justify-content: center; flex-direction: column; text-align: center; background: rgb(237, 237, 237) none repeat scroll 0% 0%; border: 1px solid rgb(216, 216, 216); margin: 0px 0px 0px -1px; cursor: pointer; position: relative; white-space: nowrap; -moz-user-select: none; transition: background-color 100ms ease-in-out 0s; }
.aws-container .aws-search-form .aws-form-btn:hover { background: rgb(220, 220, 220) none repeat scroll 0% 0%; }
.aws-container .aws-search-form .aws-form-btn:active { background: rgb(216, 216, 216) none repeat scroll 0% 0%; }
.aws-search-result { position: absolute; text-align: left; z-index: 2147483647; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 100%; margin-top: -1px; border: 1px solid rgb(204, 204, 204); font-size: 12px; line-height: 16px; }
html { line-height: 1.15; }
body { margin: 0px; }
main { display: block; }
h1 { font-size: 2em; margin: 0.67em 0px; }
a { background-color: transparent; }
b, strong { font-weight: bolder; }
img { border-style: none; }
button, input, optgroup, select, textarea { font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0px; }
button, input { overflow: visible; }
button, select { text-transform: none; }
button, [type="button"], [type="reset"], [type="submit"] {  }
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0px; }
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted buttontext; }
textarea { overflow: auto; }
:root { --blue:#007bff; --indigo:#6610f2; --purple:#6f42c1; --pink:#e83e8c; --red:#dc3545; --orange:#fd7e14; --yellow:#ffc107; --green:#28a745; --teal:#20c997; --cyan:#17a2b8; --white:#fff; --gray:#6c757d; --gray-dark:#343a40; --primary:#007bff; --secondary:#6c757d; --success:#28a745; --info:#17a2b8; --warning:#ffc107; --danger:#dc3545; --light:#f8f9fa; --dark:#343a40; --breakpoint-xs:0; --breakpoint-sm:576px; --breakpoint-md:768px; --breakpoint-lg:992px; --breakpoint-xl:1200px; --font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; --font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; }
*, *::after, *::before { box-sizing: border-box; }
html { font-family: sans-serif; line-height: 1.15; }
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section { display: block; }
body { margin: 0px; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; font-size: 1rem; font-weight: 400; line-height: 1.5; color: rgb(33, 37, 41); text-align: left; background-color: rgb(255, 255, 255); }
[tabindex="-1"]:focus { outline: 0px none !important; }
h1, h2, h3, h4, h5, h6 { margin-top: 0px; margin-bottom: 0.5rem; }
p { margin-top: 0px; margin-bottom: 1rem; }
dl, ol, ul { margin-top: 0px; margin-bottom: 1rem; }
ol ol, ol ul, ul ol, ul ul { margin-bottom: 0px; }
b, strong { font-weight: bolder; }
a { color: rgb(0, 123, 255); text-decoration: none; background-color: transparent; }
a:hover { color: rgb(0, 86, 179); text-decoration: underline; }
img { vertical-align: middle; border-style: none; }
svg { overflow: hidden; vertical-align: middle; }
button { border-radius: 0px; }
button:focus { outline: 1px dotted; }
button, input, optgroup, select, textarea { margin: 0px; font-family: inherit; font-size: inherit; line-height: inherit; }
button, input { overflow: visible; }
button, select { text-transform: none; }
[type="button"], [type="reset"], [type="submit"], button {  }
[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) { cursor: pointer; }
[type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0px; border-style: none; }
textarea { overflow: auto; resize: vertical; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { margin-bottom: 0.5rem; font-weight: 500; line-height: 1.2; }
.h1, h1 { font-size: 2.5rem; }
.h2, h2 { font-size: 2rem; }
.h5, h5 { font-size: 1.25rem; }
.img-fluid { max-width: 100%; height: auto; }
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
.container-fluid { width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
.row { display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px; }
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto { position: relative; width: 100%; padding-right: 15px; padding-left: 15px; }
.col-3 { flex: 0 0 25%; max-width: 25%; }
.col-6 { flex: 0 0 50%; max-width: 50%; }
.col-12 { flex: 0 0 100%; max-width: 100%; }
@media (min-width: 576px) {
  .col-sm-6 { flex: 0 0 50%; max-width: 50%; }
}
@media (min-width: 768px) {
  .col-md-4 { flex: 0 0 33.3333%; max-width: 33.3333%; }
  .col-md-5 { flex: 0 0 41.6667%; max-width: 41.6667%; }
  .col-md-6 { flex: 0 0 50%; max-width: 50%; }
  .col-md-7 { flex: 0 0 58.3333%; max-width: 58.3333%; }
  .col-md-12 { flex: 0 0 100%; max-width: 100%; }
  .offset-md-2 { margin-left: 16.6667%; }
}
@media (min-width: 992px) {
  .col-lg { flex-basis: 0px; flex-grow: 1; max-width: 100%; }
  .col-lg-3 { flex: 0 0 25%; max-width: 25%; }
  .col-lg-4 { flex: 0 0 33.3333%; max-width: 33.3333%; }
  .col-lg-6 { flex: 0 0 50%; max-width: 50%; }
  .order-lg-2 { order: 2; }
  .order-lg-3 { order: 3; }
  .offset-lg-0 { margin-left: 0px; }
}
@media (min-width: 1200px) {
}
@media (max-width: 575.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 1199.98px) {
}
.form-control { display: block; width: 100%; height: calc(1.5em + 0.75rem + 2px); padding: 0.375rem 0.75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: rgb(73, 80, 87); background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgb(206, 212, 218); border-radius: 0.25rem; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
@media not all {
  .form-control { transition: none 0s ease 0s ; }
}
.form-control:focus { color: rgb(73, 80, 87); background-color: rgb(255, 255, 255); border-color: rgb(128, 189, 255); outline: 0px none; box-shadow: 0px 0px 0px 0.2rem rgba(0, 123, 255, 0.25); }
.form-control::-moz-placeholder { color: rgb(108, 117, 125); opacity: 1; }
.form-control::placeholder { color: rgb(108, 117, 125); opacity: 1; }
.form-control:disabled, .form-control[readonly] { background-color: rgb(233, 236, 239); opacity: 1; }
textarea.form-control { height: auto; }
.form-group { margin-bottom: 1rem; }
@media (min-width: 576px) {
}
@media not all {
}
.fade { transition: opacity 0.15s linear 0s; }
@media not all {
  .fade { transition: none 0s ease 0s ; }
}
.fade:not(.show) { opacity: 0; }
.collapse:not(.show) { display: none; }
@media not all {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media not all {
}
@media not all {
}
@media not all {
}
@media not all {
}
@media not all {
}
.nav-link { display: block; padding: 0.5rem 1rem; }
.nav-link:focus, .nav-link:hover { text-decoration: none; }
.navbar { position: relative; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; padding: 0.5rem 1rem; }
.navbar-nav { display: flex; flex-direction: column; padding-left: 0px; margin-bottom: 0px; list-style: outside none none; }
.navbar-nav .nav-link { padding-right: 0px; padding-left: 0px; }
.navbar-collapse { flex-basis: 100%; flex-grow: 1; align-items: center; }
@media (max-width: 575.98px) {
}
@media (min-width: 576px) {
}
@media (max-width: 767.98px) {
}
@media (min-width: 768px) {
}
@media (max-width: 991.98px) {
}
@media (min-width: 992px) {
  .navbar-expand-lg { flex-flow: row nowrap; justify-content: flex-start; }
  .navbar-expand-lg .navbar-nav { flex-direction: row; }
  .navbar-expand-lg .navbar-nav .nav-link { padding-right: 0.5rem; padding-left: 0.5rem; }
  .navbar-expand-lg .navbar-collapse { display: flex !important; flex-basis: auto; }
}
@media (max-width: 1199.98px) {
}
@media (min-width: 1200px) {
}
.navbar-light .navbar-nav .nav-link { color: rgba(0, 0, 0, 0.5); }
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover { color: rgba(0, 0, 0, 0.7); }
@media (min-width: 576px) {
}
@media (min-width: 576px) {
}
@media (min-width: 576px) {
}
@media not all {
}
@media (min-width: 576px) {
}
@keyframes progress-bar-stripes {
0% { background-position: 1rem 0px; }
100% { background-position: 0px 0px; }
}
@keyframes progress-bar-stripes {
0% { background-position: 1rem 0px; }
100% { background-position: 0px 0px; }
}
@media not all {
}
@media not all {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
.close { float: right; font-size: 1.5rem; font-weight: 700; line-height: 1; color: rgb(0, 0, 0); text-shadow: 0px 1px 0px rgb(255, 255, 255); opacity: 0.5; }
.close:hover { color: rgb(0, 0, 0); text-decoration: none; }
.close:focus:not(:disabled):not(.disabled), .close:hover:not(:disabled):not(.disabled) { opacity: 0.75; }
button.close { padding: 0px; background-color: transparent; border: 0px none; -moz-appearance: none; }
.modal { position: fixed; top: 0px; left: 0px; z-index: 1050; display: none; width: 100%; height: 100%; overflow: hidden; outline: 0px none; }
.modal-dialog { position: relative; width: auto; margin: 0.5rem; pointer-events: none; }
.modal.fade .modal-dialog { transition: transform 0.3s ease-out 0s, -webkit-transform 0.3s ease-out 0s; transform: translate(0px, -50px); }
@media not all {
  .modal.fade .modal-dialog { transition: none 0s ease 0s ; }
}
.modal-content { position: relative; display: flex; flex-direction: column; width: 100%; pointer-events: auto; background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 0.3rem; outline: 0px none; }
.modal-header { display: flex; align-items: flex-start; justify-content: space-between; padding: 1rem; border-bottom: 1px solid rgb(222, 226, 230); border-top-left-radius: 0.3rem; border-top-right-radius: 0.3rem; }
.modal-header .close { padding: 1rem; margin: -1rem -1rem -1rem auto; }
.modal-title { margin-bottom: 0px; line-height: 1.5; }
.modal-body { position: relative; flex: 1 1 auto; padding: 1rem; }
@media (min-width: 576px) {
  .modal-dialog { max-width: 500px; margin: 1.75rem auto; }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media not all {
}
@media not all {
}
@media not all {
}
@media not all {
}
@keyframes spinner-border {
100% { transform: rotate(360deg); }
}
@keyframes spinner-border {
100% { transform: rotate(360deg); }
}
@keyframes spinner-grow {
0% { transform: scale(0); }
50% { opacity: 1; }
}
@keyframes spinner-grow {
0% { transform: scale(0); }
50% { opacity: 1; }
}
.d-none { display: none !important; }
.d-inline-block { display: inline-block !important; }
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .d-md-block { display: block !important; }
}
@media (min-width: 992px) {
  .d-lg-none { display: none !important; }
  .d-lg-inline-block { display: inline-block !important; }
  .d-lg-block { display: block !important; }
}
@media (min-width: 1200px) {
}
@media print {
}
.align-self-center { align-self: center !important; }
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@supports ((position:-webkit-sticky) or (position:sticky)) {
  .sticky-top { position: sticky; top: 0px; z-index: 1020; }
}
.mt-3, .my-3 { margin-top: 1rem !important; }
.mb-3, .my-3 { margin-bottom: 1rem !important; }
.mb-4, .my-4 { margin-bottom: 1.5rem !important; }
.mt-5, .my-5 { margin-top: 3rem !important; }
.pt-3, .py-3 { padding-top: 1rem !important; }
.pb-3, .py-3 { padding-bottom: 1rem !important; }
@media (min-width: 576px) {
  .mb-sm-0, .my-sm-0 { margin-bottom: 0px !important; }
}
@media (min-width: 768px) {
  .mt-md-5, .my-md-5 { margin-top: 3rem !important; }
  .mb-md-5, .my-md-5 { margin-bottom: 3rem !important; }
}
@media (min-width: 992px) {
  .mt-lg-0, .my-lg-0 { margin-top: 0px !important; }
  .pt-lg-4, .py-lg-4 { padding-top: 1.5rem !important; }
  .pb-lg-4, .py-lg-4 { padding-bottom: 1.5rem !important; }
}
@media (min-width: 1200px) {
}
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media print {
  *, *::after, *::before { text-shadow: none !important; box-shadow: none !important; }
  a:not(.btn) { text-decoration: underline; }
  img, tr { page-break-inside: avoid; }
  h2, h3, p {  }
  h2, h3 { page-break-after: avoid; }
  @page {  }
  body { min-width: 992px !important; }
  .navbar { display: none; }
}
.fa, .fab, .fal, .far, .fas { display: inline-block; font-style: normal; font-variant: normal; text-rendering: auto; line-height: 1; }
@keyframes fa-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(1turn); }
}
.fa-angle-up::before { content: ""; }
.fa-bars::before { content: ""; }
.fa-calendar::before { content: ""; }
.fa-instagram::before { content: ""; }
.fa-odnoklassniki::before { content: ""; }
.fa-search::before { content: ""; }
.fa-vk::before { content: ""; }
@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: normal;
  src: url("fa-brands-400.eot") format("embedded-opentype"), url("fa-brands-400.woff2") format("woff2"), url("fa-brands-400.woff") format("woff"), url("fa-brands-400.ttf") format("truetype"), url("fa-brands-400.svg") format("svg");
}
.fab { font-family: "Font Awesome 5 Brands"; }
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  src: url("fa-regular-400.eot") format("embedded-opentype"), url("fa-regular-400.woff2") format("woff2"), url("fa-regular-400.woff") format("woff"), url("fa-regular-400.ttf") format("truetype"), url("fa-regular-400.svg") format("svg");
}
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  src: url("fa-solid-900.eot") format("embedded-opentype"), url("fa-solid-900.woff2") format("woff2"), url("fa-solid-900.woff") format("woff"), url("fa-solid-900.ttf") format("truetype"), url("fa-solid-900.svg") format("svg");
}
.fa, .far, .fas { font-family: "Font Awesome 5 Free"; }
.fa, .fas { font-weight: 900; }
